[submodule "risc0"]
	path = risc0
	url = https://github.com/risc0/risc0.git
[submodule "zkevm-circuits"]
	path = zkevm-circuits
	url = https://github.com/privacy-scaling-explorations/zkevm-circuits.git
